<!--
  ~ OpenGr8on, open source extensions to systems based on Grenton devices
  ~ Copyright (C) 2023 Piotr Sobiech
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <https://www.gnu.org/licenses/>.
  -->
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSSXXX", UTC} [%level] %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <logger name="pl.psobiech" level="TRACE"/>
  <logger name="pl.psobiech.opengr8on.xml.interfaces.InterfaceRegistry" level="DEBUG"/>
  <logger name="pl.psobiech.opengr8on.client" level="TRACE"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
